<!doctype html>
<html lang="en">
  <head>
    <title>Registration</title>
    <link rel="stylesheet" href="./styles/Register.css" />
  </head>

  <body>
    <div class="box">
      <form id="registerForm">
        <h2>Register Account</h2>

        <label for="fullname">Full Name:</label>
        <input id="fullname" type="text" placeholder="Full Name" required />

        <label for="username">User Name:</label>
        <input id="username" type="text" placeholder="User Name" required />

        <label for="email">Email:</label>
        <input id="email" type="email" placeholder="Email" required />

        <label for="password">Password:</label>
        <input id="password" type="password" placeholder="Password" required />

        <label for="phonenno">Phone No:</label>
        <input id="phonenno" placeholder="Phone No" />

        <label>
          <input type="checkbox" required /> I agree to the Terms & Conditions
        </label>

        <div
          class="g-recaptcha"
          data-sitekey="6LdMgGAsAAAAAExWtdHlDcK_MigKIeWCXg0xNdTX"
        ></div>

        <button type="submit">Submit</button>

        <a href="Login.html">"Already have an account? Login"</a>
      </form>
    </div>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </body>
</html>
